{% extends "home.html" %}
{% block body %}

<h3>Proszę przysłać pieniądze. Łącznie należy się {{ cena }} PLN.</h3>

<form action="{{ url_for('checkout') }}" method=post>
{{ form.hidden_tag() }}
<h2>Sposób zapłaty:</h2>

    {% for subfield in form.zaplata %}
    <p>{{ subfield }} {{ subfield.label }}</p>
    {% endfor %}


<h2>Adres dostawy:</h2>

{{ form.surname.label }}
{{ form.surname }}

{{ form.address.label }}
{{ form.address }}

{{ form.city.label }}
{{ form.city }}

{{ form.country.label }}
{{ form.country }}

<p>{{ form.submit }}</p>
</form>


{% endblock %}