{% extends "top_bar.html" %}
{% block body %}


{%  if ilosc %}
    <h2>Lista produktów w koszyku:</h2>

    <ul>
    {% for towar in towary %}
        <li><span style="float: left; width: 300px;">{{ towar.Nazwa }}</span>
            <span style="float: left; width: 300px;">{{ towar.Ilosc }} * {{ towar.Cena }} PLN</span>
            <span style="float: left; width: 300px;">{{ towar.cena_laczna }} PLN</span>
            <a href="{{ url_for('remove_from_cart', id=towar.idTowar) }}">USUŃ</a></li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('remove_all_from_cart') }}">USUŃ wszystko</a>

    <h2><a href="{{ url_for('checkout') }}">Zapłać {{ cena_calkowita }} PLN</a></h2>
{% else %}
    <h2>Brak produktów w koszyku.</h2>
{% endif %}

{% endblock %}