{% extends "home.html" %}
{% block body %}


<div>
    <a href="{{ url_for('user',Login=post.author.Login) }}">{{post.author.Login}}</a> at {{post.CreationDate}}: {{post.Content}}
    <br><br><br>
</div>

{% for comment in comments %}
<div>
    <br>
    <a href="{{ url_for('user',Login=comment.author.Login) }}">{{comment.author.Login}}</a> at {{comment.CreationDate}}: {{comment.Content}}
    <br>
</div>
{% endfor %}


{%if g.user.Login%}
    <br><br><br>
    <form action="{{ url_for('post', idPost=post.idPosts) }}" method="post">
        <div class="input text">
            {{ form.content.label }} {{ form.content }}
        </div>

        <div class="input submit">
            <input type="Submit" value="Send" />
        </div>
    </form>
{% endif %}

{% endblock %}