<html>
  <head>
      <!--Jinja if statement-->
      <!-- If render_template function were given title keyword argument-->
    {% if title %}
      <!--add it to title so browser can display it on tab icon-->
    <title>{{ title }} - Apteka</title>
    {% else %}
      <!--otherwise go standard way-->
    <title>Apteka</title>
    {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h1><a href="{{ url_for('index')}}">Apteka</a> - Miejsce, w którym kupisz leki
        <div style="float: right">
             <a href="{{ url_for('contact')}}">Kontakt</a>
            |
            <a href="{{ url_for('koszyk')}}">Koszyk: {{ ilosc }}</a>
        </div>
        <br><br></h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}

     <div class="container">
      {% block body %}
      {% endblock %}
    </div>

  </body>
</html>



